<html>
	<head>
		<title>Abe's Blog</title>
	</head>
	<body>
		<div>
			<h1><a href="">Abe's Blog</a></h1>
		</div>	
		
		<div>
			<p>published: 04.23.2017, 21:20 PST</p>
			<h2><a href="">My first post</a></h2>
			<p>The Django Girls tutorial has been quite awesome so far :)</p>
		</div>

		<div>
			<p>published: 04.23.2017, 21:22 PST</p>
			<h2><a href="">My second post</a></h2>
			<p>HTML is not very fun to write in. I need to install VIM plugin to make this easier</p>
		</div>
	</body>
</html>
